


/* Menu---------------------------------- */
.bg-perigo-sutil {
    background-color: #f8d7da;
  }

  .circle {
    width: 50px;
    height: 50px;
    background-color:#E0C564; 
    border-radius: 50%; 
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
  }

  .navbar-nav .nav-item .nav-link {
    color: #b52727; 
    font-size: 16px;
    
  }
  .navbar-nav .nav-item:hover {
  background-color: #E0C564;
  border-radius: 10%;
  }




/* Body---------------------------------- */
  
.table {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

.table tr td{
    color:  #5d5051;
}

.table tr th{
    color:#E0C564; 
}


section{
    padding: 5%;
    margin: 5%;

    background-color: #DAFFF2;
}


#dashboard h1{
    color:#E0C564; 
margin-bottom: 3%;
}


.custom-box {
      border: 1px solid #f8d7da; 
      border-radius: 8px; 
      padding: 20px;
      margin-right: 10px; 
      color:  #5d5051;
      background-color: #f3d4d7; 
    }

#serviços h1{
    color:#E0C564; 
text-align: center;
margin-bottom: 3%;
}
#gastos h1{
    color:#E0C564; 
    text-align: center;
    margin-bottom: 3%;
    }